h1{
    color:rgb(237, 142, 17);

}
div{
    background-color: lightseagreen;
}
#red{
    color: white;
    background-color: red;
}
.yellow{
    color: white;
    background-color: purple;
    border: 10px rgb(255, 7, 7);

}